/* .audio__container {
  padding: 16px;
  border-radius: 16px;
  background: #020617;
  border: 1px solid #111827;
}

.audio__playButton {
  padding: 8px 16px;
  border-radius: 999px;
  border: none;
  background: linear-gradient(to right, #22c55e, #22d3ee);
  color: #020617;
  font-weight: 600;
  cursor: pointer;
}

.audio__trackRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.audio__time {
  font-size: 12px;
  color: #9ca3af;
}

.audio__slider {
  flex: 1;
}
 */

.audio__container {
  padding: 16px;
  border-radius: 16px;
  background: var(--card-bg);
  border: 1px solid var(--border-color);
}

.audio__playButton {
  padding: 8px 16px;
  border-radius: 999px;
  border: none;

  background: linear-gradient(to right, #b1b1b1d4, #cbcbcb5b);
  color: #020617;
  font-weight: 600;
  cursor: pointer;
}

.audio__trackRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.audio__time {
  font-size: 12px;
  color: #9ca3af;
}

.audio__slider {
  flex: 1;
}
