.book__button.book__button--ghost[disabled] {
  opacity: 0.75;
  cursor: wait;
  color: plum;
  color: whitesmoke;
  background: linear-gradient(to right, #b1b1b1d4, #cbcbcb5b);
}
.book__button--ghost {
  color: whitesmoke;
  background: transparent;
  background: linear-gradient(to right, #b1b1b1d4, #cbcbcb5b);
  border-color: whitesmoke;
}

[data-theme="light"] .book__contentColumn {
  color: black;
}
[data-theme="light"] .book__description {
  color: black;
}
[data-theme="light"] .book__button--ghost {
  color: black;
}
